{% extends "base.html" %} {% block title %}
<title>删除项目-荣峰科技</title>
{% endblock %} {% block content%}
<div class="breadcrumbs" id="breadcrumbs">
  <script type="text/javascript">
                        try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
                      </script>
  <ul class="breadcrumb">
    <li>
      <a href="/index">首页</a>
    </li>
    <li>
      <a href="/task_list">项目管理</a>
    </li>
    <li class="active">删除项目</li>
  </ul>
</div>
<form action="#" method="POST" class="smm-create-form" autocomplate="off">
	<ul class="smm-create-ul">
		<li>
			<label for="">项目名称</label>
			<input name="inputName" id="inputName" type="text" placeholder="项目名称" required autofocus>
		</li>
		<li>
			<input type="button" value="删除" class="btn btn-info">
		</li>
	</ul>
</form>
<script>
$(document).ready(function(){
	$(".btn-info").click(function(){
		var apurl="api/v1/project/delete";
		var name = $("#inputName").val();
		if(name != "" && confirm("您确认要删除" + name + "项目吗？（项目删除后不可再恢复）")){
			var jsondata = {"name": name};
			var redata = fn_get_ajaxvalue(apurl, jsondata);
			if (redata != null) {
				if (redata.code == 1000) {
					alert("项目删除成功！");
					location.href="/task/list";
				}
				else{
					alert(redata.msg);
				}
			}
			else {
				alert(redata.msg);
			}
		}
	});
});
</script> {% endblock %}