{% extends "root.tpl" %}

	{% block header_js_files %}

	<link href="/static/bootstrap-select.min.css" rel="stylesheet">
	<script src="/static/bootstrap-select.min.js"></script>
    <link href="/static/bootstrap-dialog.min.css" rel="stylesheet">
	<script src="/static/bootstrap-dialog.min.js"></script>
	<link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="/static/css/signup.css" rel="stylesheet">
    <link href="/static/css/list_project.css" rel="stylesheet">
    <script>
       
    </script>
 	
	{% endblock %}


	{% block content %}

        <div class="">
            <table class="table">
			    <thead>
			        <tr>
			            <th>id</th>
						<th>名字</th>
			            <th>标题</th>
						<th>仓库地址</th>
						<th>描述</th>
						<th>当前版本</th>
			            <th>操作</th>
			        </tr>
			    </thead>
			    <tbody class="deploy-rows">
			      
			    </tbody>
			</table>

        </div>
 
	{% endblock %}

	{% block footer_js_files %}

 		<script src="/static/js/projects.js"></script>

	{% endblock %}
