
	
{% extends "root.tpl" %}

 	{% block css_files %}
    		<link href="/static/css/signup.css" rel="stylesheet">
	{% endblock %}
	
	{% block header_js_files %}
	{% endblock %}
	
	{% block content %}	
        <div class="jumbotron">
	        <h1>代码部署</h1>
	        <form class="form-signin" action="/validateLogin" method="post">
		        <label for="inputEmail" class="sr-only">Email address</label>
		        <input type="email" name="inputEmail" id="inputEmail" class="form-control" placeholder="用户名" required autofocus>
		        <label for="inputPassword" class="sr-only">Password</label>
		        <input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="密码" required>
		         
		        <button id="btnSignIn" class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
	        </form>
		</div>
		
	{% endblock  %}

	{% block footer_js_files %}
	{% endblock %}
